<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ .Site.BaseURL }}">{{ $.Site.Params.Author | default "John Doe"}}</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      {{ $currentPage := . }}
      <a class="nav-item nav-link" href="/contact" title="about/contact">
        about/contact
      </a>
      <a class="nav-item nav-link" href="/streams" title="streams">
        streams
      </a>
      <a class="nav-item nav-link" href="/live/" title="live">
        live
      </a>
    </div>
  </div>
</nav>
